<h2><%= @user.first_name %></h2>

<ul>
  <% @user.reservations.each do |reservation|%>
    <%= link_to reservation_path(reservation) do %>
      <li><%= reservation.scheduled %></li>
    <% end %>
  <% end %>
</ul>
