<h2><%= @user.first_name %></h2>

<ul>
  <% @user.reservations.each do |reservation|%>
    <%= link_to user_restaurant_reservation_path(current_user, reservation.restaurant, reservation) do %>
      <li><%= reservation.scheduled %></li>
    <% end %>
  <% end %>
</ul>
