<footer class="page-footer font-small indigo">

  <div class="container">

    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <%= link_to "Contact us", pages_contact_path %>
        </h6>
      </div>

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <%= link_to "About us", pages_about_path %>
        </h6>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center pb-3"  style="color: white;" >© 2020 Copyright:
    <%= link_to "Rioserve", root_path %>
  </div>

</footer>
