<select class="form-control" id="select" name="search_filter">
  <option value="byname">By name</option>
  <option value="bycategory"> By category</option>
  <option value="byaddress">By address</option>
</select>
