<%= render "shared/navbar" %>

<h2>About us</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto excepturi, voluptatem nemo autem cumque inventore? Sapiente, est repudiandae libero quo molestias, ratione ad vero accusamus labore! Odio, voluptatum, illum!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto excepturi, voluptatem nemo autem cumque inventore? Sapiente, est repudiandae libero quo molestias, ratione ad vero accusamus labore! Odio, voluptatum, illum!</p>



