
<h2 style="text-align: center;">About us</h2>


<p>We love what can happen around the restaurant table. Since 2020 we’ve been committed to empowering that experience. From helping restaurants of all sizes thrive, to enabling diners to find and book the perfect table for every occasion, our story is one of human connection among diners and restaurants, and between restaurants and their communities.</p>

<p>Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant spaces with products that anticipate the ever-evolving needs of both restaurants and diners.</p>

<p>With our passion for hospitality, we take pride in bringing together people and the restaurants they love in the moments that matter. Pull up a chair and join us!</p>

<h2 style="margin-bottom:16px; text-align: center;">Meet the team</h2>

<div class="d-flex justify-content-around">

<div> <%= image_tag "https://avatars3.githubusercontent.com/u/46499843?s=400&v=4", style: "width: 200px" %>
  <h3 style="text-align: center;">Lucas</h3>
  </div>
  <div> <%= image_tag "https://avatars1.githubusercontent.com/u/57550392?v=4", style: "width: 200px" %>
    <h3 style="text-align: center;">Pedro</h3>
  </div>
<div> <%= image_tag "https://avatars3.githubusercontent.com/u/55245953?v=4", style: "width: 200px" %>
  <h3 style="text-align: center;">Joseph</h3>
</div>
    <div> <%= image_tag "https://avatars0.githubusercontent.com/u/58015706?v=4", style: "width: 200px" %>
      <h3 style="text-align: center;">Chase</h3>
    </div>
</div>


