
  <h2>Contact page!</h2>

  <%= simple_form_for :form do |f| %>
    <%= f.input :email %>
    <%= f.input :comments %>
    <%= link_to 'submit', pages_contact_path, class: 'btn btn-primary'%>
  <% end %>

