  <h2 class="justify-left mt-5">Suggested Categories</h2>
<div class="main-container">

  <div class="categories-cards">
    <div class="card" style="background-image: url(https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/322/322303/selection-of-chinese-food-that-may-cause-chinese-restaurant-syndrome.jpg?w=1155&h=1583)">
      Chinese
    </div>

    <div class="card" style="background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/1553618584/Moqueca-Brazilian-Seafood-Stew-FT-recipe0519.jpg?itok=8HHnNwX6)">
      Brazilian
    </div>

    <div class="card" style="background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2017/08/27253375182_4e7d9df309_o.jpg)">
      Peruvian
    </div>

    <div class="card" style="background-image: url(https://img.jakpost.net/c/2017/02/28/2017_02_28_22453_1488267265._large.jpg)">
      Japanese
    </div>
  </div>

</div>
