.navbar-rioserve {
  justify-content: space-between;
  background: white;
  background-color: #1e1e1e;
  transition: 0.3s background-color ease;
  position: sticky;
  top: 0;
  z-index: 100;
  // color: white;
}

.navbar-rioserve-home {
  position: sticky;
  top: 0;
  margin-top: -75px;
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  // color: white;
}


.navbar-rioserve-black {
  background-color: $black;
}

.navbar-rioserve .navbar-collapse {
  flex-grow: 0;
}

.navbar-rioserve .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.navbar-rioserve-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-rioserve-home .navbar-brand img {
  width: 40px;
}
